<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
    {{# post_install.sh replaces the variables formatted like {{TEMPLATE_VARIABLE}} and comments like this one. #}}

    Installing/upgrading overwrites this file (/Library/LaunchDaemons/life.thenurim.novalink.XPCHelper.plist), so
    you might not want to edit it directly.
 -->
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>life.thenurim.novalink.XPCHelper</string>

    <key>ProgramArguments</key>
    <array>
            <string>{{PATH_TO_NovaLINKXPCHELPER}}/{{NovaLINKXPCHELPER_EXECUTABLE_PATH}}</string>
    </array>

    <key>MachServices</key>
    <dict>
        <key>life.thenurim.novalink.XPCHelper</key>
        <true/>
    </dict>

    <key>ProcessType</key>
    <string>Adaptive</string>

    <key>UserName</key>
    <string>{{NovaLINKXPCHELPER_USER_NAME}}</string>
    <key>GroupName</key>
    <string>{{NovaLINKXPCHELPER_GROUP_NAME}}</string>
</dict>
</plist>
